/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  height: 100%;
  background: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

i {
  cursor: pointer; }
  i:hover {
    color: #27dfe5; }

a {
  color: #151515;
  text-decoration: none; }
  a:hover {
    color: #27dfe5; }
  a:focus {
    outline: none; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }

.unique-block-background-1 .unique-block {
  background: #36CDC6; }

.unique-block-background-2 .unique-block {
  background: #70B854; }

.unique-block-background-3 .unique-block {
  background: #E74A53; }

.unique-block-background-4 .unique-block {
  background: #00ADEF; }

.unique-block-xl .unique-area {
  padding-left: 0; }
  .unique-block-xl .unique-area .unique-block {
    max-width: none;
    padding: 40px 10px; }

.list-flex li {
  flex-direction: column; }

.unique-width .unique-area {
  width: 25%; }

.unique-text-margin-left .unique-area .unique-text {
  border: none;
  margin-left: 40px; }
  .unique-text-margin-left .unique-area .unique-text p {
    max-width: none;
    margin: 0; }

.unique-list-sm {
  max-width: 665px;
  margin-bottom: 13px; }
  .unique-list-sm .service {
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 0; }

.unique-margin-bottom .unique-area {
  margin-bottom: 0;
  padding-left: 10px; }

.unique-list {
  display: flex;
  flex-wrap: wrap; }
  .unique-list li {
    display: flex;
    width: 50%;
    font-size: 23px;
    line-height: 35px;
    color: #fff;
    text-align: left;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 80px; }
    .unique-list li:after {
      content: '';
      width: 10px;
      height: 10px;
      background: #27dfe5;
      border-bottom-left-radius: 60px;
      position: absolute;
      top: 10px;
      left: 0; }

.border-radius-60 {
  border-bottom-left-radius: 60px;
  position: relative;
  z-index: 1; }

.border-radius-30 {
  border-bottom-left-radius: 30px; }

.border-radius-15 {
  border-bottom-left-radius: 15px; }

.padding-left-49 {
  padding-left: 49px; }

.padding-left-91 {
  padding-left: 91px; }

.padding-top-75 {
  padding-top: 75px; }

.stage-margin-right .unique-block .stage {
  margin-right: 78px; }

.numeral-margin-right .unique-block .numeral {
  margin-right: 50px; }

.img-margin-right .unique-block img {
  margin-right: 20px; }

.input-50 .form-group input {
  padding: 23px 10px 15px 12px; }

.decor {
  position: absolute;
  width: 170px;
  height: 205px;
  background: #36CDC6;
  top: -20px;
  left: 9px;
  z-index: -1; }

.decor-lg {
  width: 395px;
  height: 555px; }

.decor-xl {
  width: 415px;
  height: 205px; }

.position {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -55px;
  right: -40px; }

.position-2 {
  position: absolute;
  top: 35px;
  left: -30px;
  bottom: auto;
  right: auto; }

.position-3 {
  position: absolute;
  top: 35px;
  right: -37px;
  left: auto; }

.decor-2 {
  position: absolute;
  width: 230px;
  height: 325px;
  background: #BBBCBE;
  top: 30%;
  left: 40px; }

.after-none li:after {
  display: none; }

.unique-list {
  display: flex;
  flex-wrap: wrap; }
  .unique-list li {
    display: flex;
    width: 50%;
    font-size: 23px;
    line-height: 35px;
    text-align: left;
    position: relative;
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 80px;
    color: #212121; }

.unique-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 197px;
  background: #36CDC6;
  position: relative;
  z-index: 1; }
  .unique-block .numeral {
    display: block;
    color: #fff;
    font-size: 60px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 40px; }
  .unique-block img {
    height: 50px;
    margin-right: 10px; }
  .unique-block .holder {
    display: flex;
    align-items: baseline; }
    .unique-block .holder .year {
      font-size: 13px;
      line-height: 22px;
      color: #fff;
      display: block;
      margin-left: -9px; }
  .unique-block .stage {
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    transform: rotate(-90deg);
    margin-left: -60px; }

.unique-area {
  display: flex;
  align-items: center; }
  .unique-area .unique-text {
    font-size: 18px;
    line-height: 25px;
    border: solid 1px #C5C5C5;
    margin-left: -43px;
    margin-top: 30px; }
    .unique-area .unique-text p {
      max-width: 205px;
      margin: 10px 93px; }

.list-display-block {
  display: block;
  max-width: 580px; }

.numeral-sm .unique-block {
  height: 45px; }
  .numeral-sm .unique-block .numeral {
    font-size: 18px;
    line-height: 22px;
    margin-left: 23px;
    margin-right: 23px; }

.unique-width-100 .unique-area {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  width: 100%; }

.holder-btn {
  display: flex;
  justify-content: flex-end; }

.btn {
  padding: 10px;
  background: transparent;
  border: none;
  position: relative; }
  .btn a {
    color: #003DBB;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px; }
    .btn a:hover {
      color: #27dfe5; }
  .btn span {
    position: absolute;
    background: #003DBB;
    width: 100px;
    height: 2px;
    bottom: 7px;
    right: 1px; }

.menu-btn {
  display: none;
  width: 35px;
  height: 35px;
  z-index: 5;
  position: relative; }
  .menu-btn:before {
    content: "";
    height: 3px;
    background-color: #222;
    width: 35px;
    position: absolute;
    top: 7px;
    left: -6px; }

.menu-btn-active::before {
  display: none; }

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 0;
  margin-top: 13px;
  margin-left: 0;
  left: 0;
  width: 35px;
  height: 3px;
  background-color: #222; }

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  transition: 0.2s; }

.menu-btn span::before {
  transform: translateY(-5px);
  left: -6px;
  top: -1px; }

.menu-btn span::after {
  transform: translateY(5px);
  top: -3px; }

.menu-btn-active span {
  height: 0; }

.menu-btn-active span::before {
  transform: rotate(45deg);
  background-color: #fff; }

.menu-btn-active span::after {
  transform: rotate(-45deg);
  background-color: #fff; }

.menu-btn-active span::before {
  left: -1px;
  top: -3px; }

.show-menu {
  right: 0; }

.header {
  margin-bottom: 50px; }

.header-content {
  display: flex;
  align-items: center; }

.logo {
  margin-right: 63px; }

.navigation {
  display: flex; }
  .navigation a {
    font-size: 14px;
    line-height: 22px;
    margin-right: 28px; }
  .navigation .active a {
    color: #003DBB; }
  .navigation .tel a {
    display: block;
    text-align: center; }

.ui-selectmenu-text:hover {
  color: #27dfe5; }

.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 172px; }

.speaker-1 {
  position: relative; }

.holder-number {
  display: flex;
  margin-bottom: 65px; }
  .holder-number .number {
    display: block;
    font-size: 140px;
    line-height: 65px;
    color: #0F40B7;
    letter-spacing: 13px; }
  .holder-number .bill {
    display: block;
    font-size: 57px;
    line-height: 65px;
    color: #0F40B7;
    transform: rotate(-90deg);
    margin-left: -30px; }

.speaker-text {
  max-width: 585px;
  margin-bottom: 22px; }
  .speaker-text h3 {
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 6px;
    margin-bottom: 20px; }
  .speaker-text p {
    font-size: 18px;
    line-height: 25px; }

.speaker-2 {
  position: relative; }
  .speaker-2 .block-50 {
    background: #0F40B7;
    max-width: 524px;
    margin-bottom: 65px; }
    .speaker-2 .block-50 p {
      font-size: 17px;
      line-height: 22px;
      color: #fff; }

.sentence {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px; }

.sentence-text {
  max-width: 570px; }
  .sentence-text h5 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 50px; }
    .sentence-text h5:first-line {
      font-weight: 700; }
  .sentence-text p {
    font-size: 18px;
    line-height: 25px; }

.holder-img {
  position: relative; }

.terms {
  margin-bottom: 40px; }
  .terms h3 {
    font-size: 35px;
    line-height: 65px;
    letter-spacing: 2px; }
  .terms p {
    font-size: 18px;
    line-height: 25px; }

.holder-area {
  display: flex;
  justify-content: space-between; }

.request {
  display: flex;
  justify-content: space-around;
  border: solid 1px #c5c5c5;
  padding: 25px 0 0 30px;
  margin-bottom: 174px; }
  .request .text-request {
    max-width: 650px;
    padding-top: 20px; }
    .request .text-request h3 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 14px; }
    .request .text-request p {
      font-size: 18px;
      line-height: 25px; }

.contact-form {
  max-width: 400px; }

.form-group {
  margin-bottom: 15px; }
  .form-group input {
    font-size: 13px;
    line-height: 13px;
    border: 1px solid #C5C5C5;
    width: 100%;
    height: 40px;
    padding: 23px 200px 15px 12px; }

.form-group-checkbox {
  display: flex;
  align-items: baseline; }
  .form-group-checkbox .form-group-2 {
    padding-left: 15px; }
    .form-group-checkbox .form-group-2 input {
      height: 10px;
      padding: 0; }
    .form-group-checkbox .form-group-2 label {
      color: #787878; }

.program-stages {
  margin-bottom: 65px; }
  .program-stages h3 {
    font-size: 60px;
    line-height: 75px;
    color: #303030;
    letter-spacing: 9px;
    margin-bottom: 40px; }
  .program-stages .text-btn {
    display: flex;
    justify-content: space-between;
    max-width: 885px;
    margin-bottom: 43px; }
    .program-stages .text-btn p {
      font-size: 18px;
      line-height: 25px;
      color: #303030;
      max-width: 545px; }

.text-decor {
  display: flex; }
  .text-decor .holder-text {
    margin-right: 60px; }
    .text-decor .holder-text p {
      max-width: 526px;
      font-size: 18px;
      line-height: 25px; }
  .text-decor .holder-area {
    display: flex;
    flex-direction: column; }

.service p {
  font-size: 18px;
  line-height: 30px;
  color: #000; }

.payment-guarantees {
  margin-bottom: 140px; }
  .payment-guarantees h3 {
    font-size: 60px;
    line-height: 65px;
    color: #303030;
    margin-bottom: 42px; }

.holder-offers {
  display: flex; }
  .holder-offers .img-area {
    position: relative; }
    .holder-offers .img-area .mask-holder {
      background: url("../images/mask.png");
      background-position: bottom right;
      background-size: 695px 415px;
      background-repeat: no-repeat;
      min-height: 400px;
      margin-top: -30px;
      width: 670px;
      padding: 80px 0 0 60px; }
      .holder-offers .img-area .mask-holder h4 {
        font-size: 35px;
        line-height: 40px;
        color: #303030;
        letter-spacing: 3px;
        margin-bottom: 12px; }
      .holder-offers .img-area .mask-holder h3 {
        font-size: 60px;
        line-height: 40px;
        color: #303030;
        letter-spacing: 4px;
        margin-bottom: 50px; }
      .holder-offers .img-area .mask-holder p {
        font-size: 18px;
        line-height: 25px;
        color: #303030;
        margin-bottom: 11px; }
      .holder-offers .img-area .mask-holder .holder-btn {
        display: flex;
        justify-content: end; }
    .holder-offers .img-area .decoration {
      position: relative;
      z-index: -2; }

.donor-feedback h3 {
  font-size: 60px;
  line-height: 65px;
  color: #151515;
  margin-bottom: 53px;
  letter-spacing: 7px; }

.donor-feedback .text-btn {
  max-width: 385px;
  margin-right: 55px; }
  .donor-feedback .text-btn p {
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin-bottom: 31px; }

.donor-feedback .holder-btn {
  justify-content: end; }

.holder-feedback {
  display: flex; }

.review {
  border: solid 1px #C5C5C5;
  padding: 35px 40px 53px;
  margin-bottom: 17px; }
  .review p {
    font-size: 18px;
    line-height: 25px;
    color: #000; }

.client {
  display: flex; }
  .client .holder-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #DDD;
    height: 80px;
    width: 80px; }
  .client .customer-data {
    margin: 15px 0 10px 33px; }
    .client .customer-data h3 {
      font-size: 20px;
      line-height: 22px;
      color: #000;
      letter-spacing: 0;
      margin-bottom: 0; }
    .client .customer-data p {
      font-size: 16px;
      line-height: 22px;
      color: #ADADAD; }
