/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  min-width: 320px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #151515;
  text-decoration: none; }
  a:hover {
    color: #003DBB; }
  a:focus {
    outline: none; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px; }
  .row .padding-left-120 {
    padding-left: 120px; }

.unique-block-background-1 .unique-block {
  background: #36CDC6; }

.unique-block-background-2 .unique-block {
  background: #70B854; }

.unique-block-background-3 .unique-block {
  background: #E74A53; }

.unique-block-background-4 .unique-block {
  background: #00ADEF; }

.unique-block-xl .unique-area {
  padding-left: 0; }
  .unique-block-xl .unique-area .unique-block {
    max-width: none;
    padding: 40px 10px; }

.list-flex li {
  flex-direction: column; }

.unique-width .unique-area {
  width: 25%; }

.unique-text-margin-left .unique-area .unique-text {
  border: none;
  margin-left: 40px;
  padding: 30px 0; }
  .unique-text-margin-left .unique-area .unique-text p {
    max-width: none;
    margin: 0; }

.unique-list-sm {
  max-width: 665px;
  margin-bottom: 13px; }
  .unique-list-sm .service {
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 0; }

.unique-margin-bottom .unique-area {
  margin-bottom: 0;
  padding-left: 10px; }

.unique-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px; }
  .unique-list li {
    display: flex;
    width: 50%;
    font-size: 23px;
    line-height: 35px;
    text-align: left;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 48px;
    color: #212121; }
    .unique-list li:after {
      content: '';
      width: 10px;
      height: 10px;
      background: #27dfe5;
      border-bottom-left-radius: 5px;
      position: absolute;
      top: 10px;
      left: 0; }

.padding-top-0 {
  padding-top: 0; }

.border-radius-60 {
  border-bottom-left-radius: 60px;
  position: relative;
  z-index: 1; }

.border-radius-30 {
  border-bottom-left-radius: 30px; }

.border-radius-20 {
  border-bottom-left-radius: 20px; }

.border-radius-15 {
  border-bottom-left-radius: 15px; }

.padding-left-49 {
  padding-left: 49px; }

.padding-left-91 {
  padding-left: 91px; }

.padding-top-75 {
  padding-top: 75px; }

.padding-top-10 {
  padding-top: 10px; }
  .padding-top-10 .unique-area {
    margin-bottom: 22px; }

.stage-margin-right .unique-block .stage {
  margin-right: 78px; }

.numeral-margin-right .unique-block .numeral {
  margin-right: 50px; }

.img-margin-right .unique-block img {
  margin-right: 20px; }

.decor {
  position: absolute;
  width: 170px;
  height: 205px;
  background: #36CDC6;
  top: -20px;
  left: 9px;
  z-index: -1; }

.decor-lg {
  width: 395px;
  height: 555px; }

.decor-xl {
  width: 415px;
  height: 205px; }

.position {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 7px;
  right: -40px; }

.position-2 {
  position: absolute;
  top: 35px;
  left: -30px;
  bottom: auto;
  right: auto; }

.position-3 {
  position: absolute;
  top: 35px;
  right: -37px;
  left: auto; }

.decor-2 {
  position: absolute;
  width: 230px;
  height: 325px;
  background: #BBBCBE;
  top: 28%;
  left: 14px; }

.after-none li:after {
  display: none; }

.unique-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 197px;
  background: #36CDC6;
  position: relative;
  z-index: 1;
  width: 100%; }
  .unique-block .numeral {
    display: block;
    color: #fff;
    font-size: 60px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 40px; }
  .unique-block img {
    height: 50px;
    margin-right: 10px; }
  .unique-block .holder {
    display: flex;
    align-items: baseline; }
    .unique-block .holder .year {
      font-size: 13px;
      line-height: 22px;
      color: #fff;
      display: block;
      margin-left: -9px; }
  .unique-block .stage {
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    transform: rotate(-90deg);
    margin-left: -60px; }

.unique-area {
  display: flex;
  align-items: center; }
  .unique-area .unique-text {
    font-size: 18px;
    line-height: 25px;
    border: solid 1px #C5C5C5;
    margin-left: -43px;
    padding: 20px 6px 20px 50px; }
    .unique-area .unique-text p {
      max-width: 205px; }

.list-display-block {
  display: block;
  max-width: 580px; }

.numeral-sm .unique-block {
  height: 45px;
  width: 12%; }
  .numeral-sm .unique-block .numeral {
    font-size: 18px;
    line-height: 22px;
    margin-left: 23px;
    margin-right: 23px; }

.unique-width-100 .unique-area {
  width: 100%; }

.padding-20-0 .unique-area .unique-text {
  padding: 20px 0; }

.background-fff {
  background: #fff; }

.width-605 {
  max-width: 605px; }

.padding-0-20 {
  padding: 12px 20px 30px; }

.top-70 {
  top: -70px; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
  width: 100%; }

.holder-btn {
  display: flex;
  justify-content: flex-end; }

.btn {
  padding: 10px;
  background: transparent;
  border: none;
  position: relative; }
  .btn span {
    color: #003DBB;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px; }
    .btn span:hover {
      color: #27dfe5; }
  .btn:after {
    position: absolute;
    content: '';
    background: #003DBB;
    width: 100px;
    height: 2px;
    bottom: 7px;
    right: 1px; }

.mobile-menu-navigation {
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  right: -20%;
  padding: 106px 84px 68px 80px;
  background-color: #162137;
  max-width: 865px;
  transition: all .25s ease;
  overflow: auto; }

.show-menu {
  right: 0; }

.btn-menu {
  position: absolute;
  top: 13px;
  right: 27px;
  height: 27px;
  width: 29px;
  cursor: pointer;
  transition: all .25s ease;
  display: none;
  z-index: 103; }
  @media only screen and (max-width: 1023px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    background: #213041;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    top: 8px; }
  .btn-menu .bottom {
    top: 16px; }
  .btn-menu.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    background: #fff; }
  .btn-menu.active .middle {
    opacity: 0; }
  .btn-menu.active .bottom {
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    background: #fff; }

.header {
  margin-bottom: 46px; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navigation {
  display: flex;
  align-items: center; }
  .navigation li {
    margin-left: 21px; }
    .navigation li a {
      font-size: 14px;
      line-height: 22px; }
  .navigation .active a {
    color: #003DBB; }
  .navigation .tel {
    text-align: center; }
    .navigation .tel a {
      display: block; }

.ui-selectmenu-text {
  border: none; }
  .ui-selectmenu-text:hover {
    color: #27dfe5; }

.mobile-menu-navigation {
  display: none; }

.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 172px; }

.speaker-1 {
  position: relative; }

.holder-number {
  display: flex;
  margin-bottom: 65px; }
  .holder-number .number {
    display: block;
    font-size: 140px;
    line-height: 65px;
    color: #0F40B7;
    letter-spacing: 6px; }
  .holder-number .bill {
    display: block;
    font-size: 57px;
    line-height: 65px;
    color: #0F40B7;
    transform: rotate(-90deg);
    margin-left: -30px; }

.speaker-text {
  max-width: 585px;
  margin-bottom: 22px; }
  .speaker-text h3 {
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 6px;
    margin-bottom: 20px; }
  .speaker-text p {
    line-height: 25px; }

.speaker-2 {
  position: relative; }

.block-50 {
  background: #0F40B7;
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  max-width: 440px;
  padding: 17px 0 17px 25px;
  margin: 31px 0 70px 13px;
  position: relative; }
  .block-50:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: -3000px;
    left: 0;
    background: #0F40B7;
    z-index: -1; }

.sentence {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px; }

.sentence-text {
  max-width: 570px; }
  .sentence-text h5 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 50px; }
    .sentence-text h5:first-line {
      font-weight: 700; }
  .sentence-text p {
    line-height: 25px; }

.holder-img {
  position: relative; }

.terms {
  margin-bottom: 42px; }
  .terms h3 {
    font-size: 35px;
    line-height: 65px;
    letter-spacing: 1px; }
  .terms p {
    line-height: 25px; }

.holder-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px; }

.request {
  display: flex;
  justify-content: space-around;
  border: solid 1px #c5c5c5;
  padding: 25px 0 4px 30px;
  margin-bottom: 174px; }
  .request .text-request {
    max-width: 650px;
    padding-top: 24px; }
    .request .text-request h3 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 11px; }
    .request .text-request p {
      line-height: 25px; }

.display-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.contact-form {
  max-width: 400px; }

.form-group {
  margin-bottom: 15px; }
  .form-group input {
    font-size: 13px;
    line-height: 13px;
    border: 1px solid #C5C5C5;
    width: 100%;
    height: 40px;
    padding: 15px; }

.form-group-checkbox {
  display: flex;
  align-items: baseline; }
  .form-group-checkbox .form-group-2 {
    padding-left: 15px; }
    .form-group-checkbox .form-group-2 input {
      height: 10px;
      padding: 0; }
    .form-group-checkbox .form-group-2 label {
      color: #787878; }

.program-stages {
  margin-bottom: 60px; }
  .program-stages h3 {
    font-size: 60px;
    line-height: 75px;
    color: #303030;
    letter-spacing: 5px;
    margin-bottom: 40px; }
  .program-stages .text-btn {
    display: flex;
    justify-content: space-between;
    max-width: 885px;
    margin-bottom: 31px; }
    .program-stages .text-btn p {
      line-height: 25px;
      color: #303030;
      max-width: 545px; }

.text-decor {
  display: flex; }
  .text-decor .holder-text {
    margin-right: 60px; }
    .text-decor .holder-text p {
      max-width: 526px;
      line-height: 25px; }
  .text-decor .holder-area {
    display: flex;
    flex-direction: column; }

.service p {
  font-size: 18px;
  line-height: 30px;
  color: #000; }

.payment-guarantees {
  margin-bottom: 40px; }
  .payment-guarantees h3 {
    font-size: 60px;
    line-height: 65px;
    color: #303030;
    margin-bottom: 42px; }

.holder-offers {
  display: flex; }
  .holder-offers .img-area {
    position: relative; }
    .holder-offers .img-area .mask-holder {
      background: url("../images/mask.png");
      background-position: bottom right;
      background-size: 695px 415px;
      background-repeat: no-repeat;
      min-height: 400px;
      margin-top: -30px;
      width: 670px;
      padding: 77px 0 0 60px; }
      .holder-offers .img-area .mask-holder h4 {
        font-size: 35px;
        line-height: 40px;
        color: #303030;
        letter-spacing: 3px;
        margin-bottom: 12px; }
      .holder-offers .img-area .mask-holder h3 {
        font-size: 60px;
        line-height: 40px;
        color: #303030;
        letter-spacing: 1px;
        margin-bottom: 50px; }
      .holder-offers .img-area .mask-holder p {
        line-height: 25px;
        color: #303030;
        margin-bottom: 11px; }
      .holder-offers .img-area .mask-holder .holder-btn {
        display: flex;
        justify-content: end; }
    .holder-offers .img-area .decoration {
      position: relative;
      z-index: -2; }

.donor-feedback {
  margin-bottom: 180px; }
  .donor-feedback h3 {
    font-size: 60px;
    line-height: 65px;
    color: #151515;
    margin-bottom: 53px;
    letter-spacing: 2px; }
  .donor-feedback .text-btn {
    max-width: 385px;
    margin-right: 55px; }
    .donor-feedback .text-btn p {
      line-height: 25px;
      color: #000;
      margin-bottom: 31px; }
  .donor-feedback .holder-btn {
    justify-content: end; }

.holder-feedback {
  display: flex;
  justify-content: space-between; }

.review {
  border: solid 1px #C5C5C5;
  padding: 35px 30px 3px;
  margin-bottom: 17px; }
  .review p {
    line-height: 25px;
    color: #000; }

.client {
  display: flex; }
  .client .holder-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #DDD;
    height: 80px;
    width: 80px; }
  .client .customer-data {
    margin: 15px 0 10px 33px; }
    .client .customer-data h3 {
      font-size: 20px;
      line-height: 22px;
      color: #000;
      letter-spacing: 0;
      margin-bottom: 0; }
    .client .customer-data p {
      font-size: 16px;
      line-height: 22px;
      color: #ADADAD; }

.answers h3 {
  max-width: 1000px;
  font-size: 60px;
  line-height: 65px;
  color: #151515;
  letter-spacing: 2px;
  margin-bottom: 60px; }

.answers .response-cell {
  border: solid 1px #C5C5C5;
  padding: 5px 10px 38px 6px; }
  .answers .response-cell .wrapper {
    display: flex; }
  .answers .response-cell .customer-data {
    padding: 8px 10px 10px 26px;
    margin-bottom: 30px; }
    .answers .response-cell .customer-data h3 {
      font-size: 14px;
      line-height: 25px;
      color: #000;
      letter-spacing: 0;
      margin-bottom: -3px; }
    .answers .response-cell .customer-data p {
      font-size: 14px;
      line-height: 17px;
      color: #000;
      letter-spacing: 1px; }

.answer-holder {
  padding: 0 16px 13px 32px; }
  .answer-holder p {
    line-height: 25px;
    color: #000; }

.holder-accordion {
  display: flex;
  justify-content: space-between; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ui-icon {
  display: none; }

.ui-accordion-header .fa {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 20px;
  margin-top: -25px;
  padding: 8px 10px;
  border: 1px solid #fff;
  border-radius: 5px; }

.ui-accordion-header-active p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding-bottom: 17px;
  border-bottom: dotted 1px #f4f4f4;
  text-align: left; }

.accordion-answers {
  width: 50%;
  padding: 0 20px 0 0; }

.ui-accordion .ui-accordion-header {
  background: #36CDC6;
  border: none;
  line-height: 25px;
  font-weight: bold;
  color: #fff;
  padding: 13px 90px 21px 40px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  width: 100%; }
  .ui-accordion .ui-accordion-header:focus {
    outline: none; }

.ui-accordion .ui-accordion-content {
  padding: 0;
  border: none;
  height: 292px; }

.ui-button {
  background: none;
  border: none;
  padding: 2px; }

.ui-selectmenu-menu {
  position: absolute;
  top: 0;
  left: 0; }

#select {
  border: none;
  padding: 3px; }
  #select:hover {
    color: #003DBB;
    cursor: pointer; }
  #select:focus {
    outline: none; }

.padding {
  padding: 12px 0 55px 30px; }

.padding-34 .text-request {
  padding-top: 60px; }

.holder-photo-consultation {
  position: relative; }
  .holder-photo-consultation > img {
    position: absolute;
    top: -20px;
    right: -36px; }
  .holder-photo-consultation .request {
    padding: 12px 0 55px 30px;
    z-index: 5;
    position: relative;
    margin-top: 39px;
    margin-bottom: 210px; }
    .holder-photo-consultation .request .contact-form {
      max-width: 460px;
      width: 100%; }

.feedback-slider {
  max-width: 700px;
  position: relative; }
  .feedback-slider .slick-slide {
    padding: 0 15px; }

.slick-arrow {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  margin-top: -70px;
  left: 0;
  z-index: 5;
  border: none; }

.slick-prev,
.slick-next {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  height: 40px;
  width: 18px;
  border: solid 1px #c5c5c5;
  border-radius: 5px;
  font-size: 0;
  margin-right: 15px; }
  .slick-prev:hover,
  .slick-next:hover {
    border-color: #003DBB; }
  .slick-prev:after,
  .slick-next:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center; }

.slick-prev {
  margin-right: 15px; }
  .slick-prev:after {
    background-image: url(../images/left.png);
    transform: rotate(180deg); }

.slick-next {
  margin-right: 70px; }
  .slick-next:after {
    background-image: url(../images/left.png); }

.feedback-slider button {
  border-radius: 5px;
  padding: 20px; }

.about-the-clinic {
  margin-bottom: 87px; }
  .about-the-clinic h3 {
    font-size: 60px;
    line-height: 65px;
    color: #151515;
    margin-bottom: 45px; }

.margin-bottom {
  margin-bottom: 32px; }

.background-photo {
  margin-bottom: 83px;
  max-height: 607px;
  overflow: hidden; }
  .background-photo img {
    width: 100%; }

.progress {
  margin-bottom: 195px; }
  .progress h3 {
    font-size: 35px;
    line-height: 65px;
    color: #151515;
    margin-bottom: 33px; }
  .progress .wrapper {
    display: flex;
    justify-content: space-between; }
    .progress .wrapper .text-btn {
      max-width: 523px; }
      .progress .wrapper .text-btn p {
        margin-bottom: 17px; }
      .progress .wrapper .text-btn .holder-btn {
        justify-content: end; }

.list-numbers {
  display: flex; }
  .list-numbers .list {
    margin-left: 60px; }
    .list-numbers .list .holder {
      display: flex;
      align-items: baseline; }
      .list-numbers .list .holder .numbers {
        display: block;
        font-size: 120px;
        line-height: 115px;
        color: #36CDC6; }
      .list-numbers .list .holder .year {
        line-height: 22px;
        color: #436EB3;
        margin-left: -30px;
        background: #fff; }
      .list-numbers .list .holder P {
        line-height: 25px;
        color: #303030; }
      .list-numbers .list .holder .margin-left-0 {
        margin-left: 0; }
      .list-numbers .list .holder .margin-left-117 {
        margin-left: -149px;
        padding: 0 10px 0 55px; }

.width-140 {
  max-width: 140px; }

.width-105 {
  max-width: 105px; }

.width-280 {
  max-width: 280px; }

.contacts-map {
  display: flex; }

.contacts h3 {
  font-size: 60px;
  line-height: 73px;
  color: #151515;
  margin-bottom: 40px; }

.contacts .contacts-list h3 {
  font-size: 20px;
  line-height: 22px;
  color: #003DBB;
  margin-bottom: 14px; }

.contacts .contacts-list p {
  line-height: 25px; }

.contacts .contacts-list .address {
  margin-bottom: 46px; }
  .contacts .contacts-list .address address {
    font-style: inherit; }
    .contacts .contacts-list .address address:hover {
      color: #003DBB;
      cursor: pointer; }

.contacts .contacts-list .e-mail {
  margin-bottom: 34px; }

.contacts .contacts-list .social-network .icons {
  display: flex; }
  .contacts .contacts-list .social-network .icons li {
    margin-right: 30px; }
    .contacts .contacts-list .social-network .icons li i {
      color: #36CDC6;
      font-size: 27px;
      cursor: pointer; }
      .contacts .contacts-list .social-network .icons li i:hover {
        color: #003DBB; }

.contacts .contacts-list .telephone {
  margin-bottom: 35px; }
  .contacts .contacts-list .telephone a {
    display: block;
    margin-bottom: 10px; }

.logo-xl {
  width: 285px; }

.rights {
  display: flex;
  justify-content: flex-end;
  text-align: right; }
  .rights p {
    max-width: 280px;
    font-size: 12px;
    line-height: 14px; }
    .rights p a {
      text-decoration: underline; }
      .rights p a:hover {
        text-decoration: none; }

.align-items-end {
  align-items: end; }

.margin-top-18 {
  margin-top: 18px;
  margin-bottom: 45px; }

.nav-rights {
  display: flex;
  flex-direction: column; }

.holder-area-footer {
  position: relative; }
  .holder-area-footer .map {
    position: absolute;
    right: 0;
    top: 0;
    width: 460px;
    height: auto;
    overflow: hidden; }

.modal a.close-modal {
  display: none !important; }

.close-btn {
  position: absolute;
  top: 42px;
  right: 40px;
  z-index: 8;
  height: 30px;
  padding: 10px; }
  .close-btn:before {
    content: "";
    height: 2px;
    background-color: #222;
    width: 31px;
    position: absolute;
    top: 7px;
    left: -6px;
    transform: rotate(45deg); }
  .close-btn:after {
    content: "";
    height: 2px;
    background-color: #222;
    width: 31px;
    position: absolute;
    top: 7px;
    left: -6px;
    transform: rotate(-45deg); }

.modal-content {
  padding: 75px 0 0 0 !important; }
  .modal-content .request {
    border: none !important;
    padding: 0 0 0 30px !important; }
    .modal-content .request .text-request h3 {
      letter-spacing: 0 !important;
      font-size: 33px !important; }

.blocker {
  z-index: 5 !important; }

.modal {
  max-width: 660px !important;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  border-bottom-left-radius: 60px !important;
  height: 520px !important; }

.header-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navigation-footer {
  display: flex;
  margin-bottom: 45px; }
  .navigation-footer li {
    margin-left: 15px; }
    .navigation-footer li a {
      font-size: 14px; }
    .navigation-footer li span {
      font-size: 15px; }
  .navigation-footer .active a {
    color: #003DBB; }

.footer {
  padding: 92px 0 0; }
  .footer .menu-btn {
    display: none; }

@media (max-width: 1279px) {
  .btn span {
    font-size: 16px; }
  .navigation li a {
    font-size: 10px; }
  .navigation li span {
    font-size: 15px; }
  .navigation li #select {
    font-size: 12px; }
  .mobile-menu-navigation {
    display: none; }
  .banner {
    margin-bottom: 20px; }
  .img-area img {
    max-width: 360px; }
  .decor {
    width: 120px;
    height: 145px;
    left: 20px; }
  .holder-number {
    margin-top: -10px;
    margin-bottom: 35px; }
    .holder-number .number {
      font-size: 100px;
      letter-spacing: 3px; }
    .holder-number .bill {
      font-size: 47px; }
  .speaker-1 {
    max-width: 490px; }
  .speaker-text h3 {
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 4px;
    margin-bottom: 10px; }
  .speaker-text p {
    font-size: 15px; }
  .block-50 {
    margin: 10px 0 70px 13px;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 0 9px 25px; }
  .padding-left-91 {
    padding-left: 61px; }
  .decor-2 {
    height: 215px;
    left: 24px; }
  .decor-lg {
    height: 450px;
    width: 300px; }
  .position {
    bottom: 27px;
    right: auto;
    left: 30%; }
  .sentence-text h5 {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 20px; }
  .sentence-text p {
    font-size: 15px;
    line-height: 22px; }
  .position-2 {
    left: auto;
    right: 16%;
    top: 50px; }
  .unique-area .unique-text {
    padding: 10px 5px 10px 50px; }
    .unique-area .unique-text p {
      font-size: 15px; }
  .terms p {
    font-size: 15px; }
  .request {
    margin-bottom: 50px; }
    .request .text-request {
      max-width: 450px; }
      .request .text-request h3 {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 1px;
        margin-bottom: 6px; }
  .program-stages {
    margin-bottom: 50px; }
    .program-stages h3 {
      font-size: 55px; }
  .img-margin-right .unique-block img {
    margin-left: -80px; }
  .unique-text-margin-left .unique-area .unique-text {
    margin-left: 10px;
    padding: 20px 0; }
  .unique-text-margin-left .unique-area p {
    line-height: 20px; }
  .service p {
    font-size: 15px; }
  .numeral-sm .unique-block .numeral {
    margin-left: 11px; }
  .holder-offers .img-area .mask-holder {
    max-width: 550px;
    padding: 65px 0 0 50px;
    margin-right: 30px; }
    .holder-offers .img-area .mask-holder h4 {
      font-size: 24px; }
    .holder-offers .img-area .mask-holder h3 {
      font-size: 45px;
      margin-bottom: 40px; }
    .holder-offers .img-area .mask-holder p {
      font-size: 15px; }
  .position-3 {
    top: 5px;
    right: auto;
    left: 37%; }
  .decor-xl {
    height: 170px;
    width: 350px; }
  .donor-feedback {
    margin-bottom: 80px; }
    .donor-feedback h3 {
      font-size: 55px; }
    .donor-feedback .text-btn {
      margin-right: 0; }
      .donor-feedback .text-btn p {
        font-size: 15px; }
  .review {
    padding: 20px 25px 3px; }
    .review p {
      font-size: 15px; }
  .answers {
    margin-bottom: 20px; }
    .answers h3 {
      font-size: 55px;
      line-height: 55px; }
    .answers .response-cell .customer-data p {
      font-size: 12px;
      line-height: 15px; }
  .answer-holder p {
    font-size: 15px;
    line-height: 20px; }
  .ui-accordion .ui-accordion-header {
    font-size: 15px;
    line-height: 20px;
    padding: 13px 60px 21px 40px;
    margin-bottom: 10px; }
  .about-the-clinic {
    margin-bottom: 10px; }
  .holder-photo-consultation {
    margin-bottom: 60px; }
    .holder-photo-consultation > img {
      top: -34px;
      z-index: -2;
      max-width: 700px; }
    .holder-photo-consultation .request {
      margin-bottom: 0;
      padding: 20px;
      z-index: 1; }
  .holder-area-footer {
    position: relative; }
    .holder-area-footer .map {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 410px; }
  .padding-34 .text-request {
    padding-top: 30px; }
  .progress {
    margin-bottom: 95px; }
    .progress .wrapper .text-btn p {
      font-size: 15px; }
  .list-numbers {
    margin-right: 30px; }
    .list-numbers p {
      font-size: 15px; }
    .list-numbers .list .holder .numbers {
      font-size: 100px; }
    .list-numbers .list .holder .year {
      font-size: 15px;
      margin-left: -25px; }
    .list-numbers .list .holder .margin-left-0 {
      margin-left: 0; }
    .list-numbers .list .holder .margin-left-117 {
      padding: 0 10px 0 45px; }
  .navigation-footer li {
    margin-left: 11px; }
  .contacts {
    margin: 0 0 30px; }
    .contacts h3 {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px; }
    .contacts .contacts-list h3 {
      font-size: 15px; }
    .contacts .contacts-list p {
      font-size: 15px; }
  .row .padding-left-120 {
    padding-left: 10px; } }

@media (max-width: 1023px) {
  .header {
    position: relative;
    margin-bottom: 15px; }
  .btn-menu {
    top: 8px;
    right: 21px; }
  .navigation {
    display: none; }
    .navigation li {
      margin-left: 10px;
      margin-bottom: 20px; }
      .navigation li a {
        color: #fff;
        font-size: 26px;
        line-height: 30px; }
      .navigation li span {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px; }
    .navigation .tel {
      margin-top: 60px;
      margin-left: 60px; }
      .navigation .tel a {
        font-size: 15px; }
  .mobile-menu-navigation {
    display: block; }
  .navigation {
    display: none; }
  .languages {
    position: absolute;
    right: 84px;
    top: 0; }
  .mobile-menu-navigation {
    padding: 85px 90px 10px 10px; }
  .show-menu .navigation {
    display: block; }
  .banner {
    margin-bottom: 20px; }
  .block-50 {
    margin: 10px 0 70px 90px;
    font-size: 15px;
    line-height: 19px;
    padding: 7px 0 7px 15px; }
  .speaker-1 {
    max-width: 350px;
    text-align: center; }
  .img-area img {
    max-width: 260px; }
  .border-radius-60 {
    border-bottom-left-radius: 30px; }
  .decor {
    height: 95px;
    left: 40px;
    width: 100px;
    top: -8px; }
  .holder-number {
    margin-top: -20px;
    margin-left: 30px; }
    .holder-number .number {
      font-size: 60px; }
    .holder-number .bill {
      font-size: 27px;
      margin-left: -20px; }
  .speaker-text {
    margin-bottom: 0; }
    .speaker-text h3 {
      font-size: 40px;
      line-height: 45px;
      letter-spacing: 1px;
      margin-bottom: 5px; }
    .speaker-text p {
      font-size: 15px;
      line-height: 20px; }
  .btn span {
    font-size: 14px; }
  .btn:after {
    width: 80px; }
  .padding-left-91 {
    padding-left: 120px; }
  .decor-2 {
    left: 95px; }
  .decor-lg {
    height: 340px;
    width: 200px;
    left: auto;
    right: 10px;
    top: auto;
    bottom: 60px; }
  .sentence {
    margin-bottom: 30px; }
  .sentence-text {
    max-width: 420px; }
    .sentence-text h5 {
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 10px; }
    .sentence-text p {
      font-size: 15px;
      line-height: 18px; }
  .holder-photo-consultation {
    display: flex; }
    .holder-photo-consultation > img {
      top: 35px;
      z-index: -2;
      max-width: 600px; }
  .padding-top-75 {
    padding-top: 25px; }
  .decor-xl {
    height: 90px;
    width: 180px; }
  .position-2 {
    top: auto;
    bottom: 52%;
    left: auto;
    right: 35%; }
  .terms h3 {
    font-size: 31px;
    line-height: 40px;
    letter-spacing: 0; }
  .terms p {
    font-size: 15px;
    line-height: 20px; }
  .decoration {
    max-width: 120px; }
  .holder-area {
    margin-bottom: 0; }
  .unique-block {
    height: 45px;
    max-width: 150px; }
    .unique-block .numeral {
      font-size: 20px;
      line-height: 22px;
      margin-left: 10px;
      margin-right: 60px; }
    .unique-block img {
      height: 35px; }
  .border-radius-30 {
    border-bottom-left-radius: 15px; }
  .unique-list li {
    padding-left: 10px; }
  .request {
    margin-bottom: 55px; }
    .request .text-request {
      max-width: 350px;
      margin: 0 0 20px; }
      .request .text-request h3 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0;
        margin-bottom: 3px; }
      .request .text-request p {
        font-size: 13px;
        line-height: 19px; }
  .form-group-checkbox .form-group-2 label {
    font-size: 15px; }
  .program-stages h3 {
    font-size: 45px;
    margin-bottom: 10px; }
  .program-stages .text-btn p {
    font-size: 15px;
    line-height: 20px;
    max-width: 435px; }
  .unique-block-xl .unique-area .unique-block {
    padding: 30px 0; }
    .unique-block-xl .unique-area .unique-block .stage {
      line-height: 20px; }
  .unique-block-xl .unique-area .unique-text {
    padding: 10px 0; }
  .text-decor {
    margin-right: 20px; }
    .text-decor .holder-text p {
      max-width: 365px;
      line-height: 20px;
      font-size: 15px; }
  .unique-list-sm .service {
    padding-left: 20px; }
  .decoration {
    max-width: 350px; }
  .payment-guarantees h3 {
    font-size: 50px;
    line-height: 55px; }
  .holder-offers .img-area .mask-holder {
    max-width: 370px;
    padding: 55px 0 0 40px;
    min-height: 330px;
    margin-top: -20px;
    background-size: 495px 415px; }
  .numeral-sm .unique-block {
    height: 35px;
    width: 50px; }
  .unique-area .unique-text p {
    font-size: 14px;
    line-height: 18px; }
  .unique-text-margin-left .unique-area .unique-text {
    padding: 10px 0; }
  .holder-offers .img-area .mask-holder h4 {
    font-size: 15px;
    margin-bottom: 0; }
  .holder-offers .img-area .mask-holder h3 {
    font-size: 29px;
    margin-bottom: 10px; }
  .holder-offers .img-area .mask-holder p {
    line-height: 20px; }
  .position-3 {
    top: 10px;
    right: 20px;
    left: auto; }
  .donor-feedback h3 {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0; }
  .donor-feedback .text-btn p {
    font-size: 14px;
    margin-bottom: 10px; }
  .review {
    padding: 20px 15px 13px; }
    .review p {
      font-size: 14px;
      line-height: 20px; }
  .slick-dots {
    display: none !important; }
  .slick-list {
    max-width: 460px; }
  .client .holder-photo {
    height: 50px;
    width: 50px; }
  .client .customer-data {
    margin: 4px 0 0 13px; }
    .client .customer-data h3 {
      font-size: 14px; }
  .slick-slide img {
    width: 30px; }
  .answers h3 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 20px; }
  .ui-accordion .ui-accordion-header {
    padding: 13px 50px 13px 20px;
    font-size: 14px;
    line-height: 20px; }
    .ui-accordion .ui-accordion-header .fa {
      right: 10px;
      font-size: 16px;
      padding: 4px 6px;
      margin-top: -14px; }
  .answers .response-cell img {
    width: 50px; }
  .answers .response-cell .customer-data {
    padding: 4px 10px 10px 8px;
    margin-bottom: 10px; }
    .answers .response-cell .customer-data h3 {
      font-size: 14px; }
    .answers .response-cell .customer-data p {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0; }
  .answer-holder p {
    font-size: 14px; }
  .about-the-clinic {
    margin-bottom: 30px; }
    .about-the-clinic h3 {
      font-size: 50px;
      margin-bottom: 15px; }
  .width-525 {
    font-size: 15px;
    line-height: 20px; }
  .margin-bottom {
    font-size: 15px;
    line-height: 20px; }
  .progress {
    margin-bottom: 95px; }
    .progress h3 {
      font-size: 30px;
      line-height: 45px; }
    .progress .wrapper .text-btn {
      max-width: 300px; }
  .list-numbers .list {
    margin-left: 10px; }
    .list-numbers .list .holder .numbers {
      font-size: 70px; }
    .list-numbers .list .holder .year {
      font-size: 11px;
      margin-left: -20px;
      line-height: 12px; }
    .list-numbers .list .holder .margin-left-117 {
      margin-left: -90px; }
  .contacts h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px; }
  .max-width-380 {
    max-width: 380px; }
  .max-width-50 {
    width: 50%; }
  .footer {
    padding: 30px 0; }
  .header-content-footer {
    display: flex; }
  .navigation-footer {
    display: flex;
    margin-bottom: 20px; }
    .navigation-footer li {
      margin-left: 11px; }
      .navigation-footer li a {
        font-size: 11px; }
  .logo-xl {
    max-width: 155px; } }

@media (max-width: 767px) {
  .header {
    position: relative; }
  .btn-menu {
    top: 11px;
    right: 19px; }
  .navigation {
    padding-left: 10px; }
  .header-content {
    align-items: end;
    padding-top: 5px; }
  .languages {
    position: absolute;
    right: 84px;
    top: 14px; }
  .logo img {
    width: 120px; }
  .navigation {
    display: none; }
    .navigation li {
      margin-bottom: 20px; }
      .navigation li a {
        color: #fff;
        font-size: 26px;
        line-height: 30px; }
      .navigation li span {
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px; }
    .navigation .tel {
      margin-top: 50px;
      margin-left: 40px; }
      .navigation .tel a {
        font-size: 15px; }
  .show-menu .navigation {
    display: block; }
  .mobile-menu-navigation {
    padding: 60px 50px 10px 0; }
  .menu-btn {
    z-index: 8;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 5px 0 0; }
  .padding-left-49 {
    padding-left: 30px; }
  .decor {
    left: 20px; }
  .banner {
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .holder-number {
    margin-left: 20px;
    margin-bottom: 5px; }
  .speaker-text {
    text-align: center; }
    .speaker-text h3 {
      font-size: 30px;
      line-height: 35px; }
  .padding-left-91 {
    padding-left: 30px; }
  .decor-2 {
    left: 75px; }
  .sentence {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
  .sentence-text h5 {
    font-size: 30px;
    line-height: 35px; }
  .terms {
    text-align: center;
    margin-bottom: 60px; }
    .terms h3 {
      font-size: 22px;
      line-height: 30px; }
  .decoration {
    display: none; }
  .unique-list {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .unique-list li {
      margin-bottom: 8px; }
  .request {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 10px; }
    .request .text-request p {
      font-size: 14px; }
  .numeral-sm .unique-block .numeral {
    margin-left: 0;
    padding: 10px; }
  .program-stages {
    text-align: center; }
    .program-stages h3 {
      font-size: 20px;
      line-height: 30px; }
    .program-stages .text-btn {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px; }
  .unique-width .unique-area {
    width: 100%; }
  .unique-block .numeral {
    font-size: 50px;
    margin-right: 20px; }
  .unique-block-xl .unique-area .unique-block .stage {
    font-size: 18px;
    margin-right: 188px; }
  .text-decor {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .text-decor .holder-area {
      width: 100%; }
    .text-decor .holder-text {
      margin-right: 0;
      margin-bottom: 20px; }
  .unique-list {
    display: block; }
    .unique-list li {
      width: 100%; }
  .unique-list-sm .service p {
    font-size: 15px; }
  .payment-guarantees {
    margin-bottom: 50px; }
    .payment-guarantees h3 {
      text-align: center;
      font-size: 35px;
      line-height: 40px;
      margin: 0 0 20px; }
  .holder-offers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px; }
    .holder-offers .img-area .mask-holder {
      text-align: center;
      margin-top: 0;
      padding: 20px 10px;
      max-width: 270px;
      min-height: 230px;
      margin-right: 0; }
      .holder-offers .img-area .mask-holder h4 {
        font-size: 14px;
        line-height: 20px; }
      .holder-offers .img-area .mask-holder h3 {
        font-size: 23px; }
      .holder-offers .img-area .mask-holder p {
        font-size: 14px; }
  .review {
    max-width: 230px;
    margin-left: 10px; }
  .donor-feedback .text-btn {
    margin-right: 0; }
  .donor-feedback {
    text-align: center;
    margin-bottom: 40px; }
    .donor-feedback h3 {
      font-size: 35px;
      line-height: 40px;
      margin: 0 0 20px; }
  .holder-feedback {
    align-items: center;
    flex-direction: column; }
  .feedback-slider {
    max-width: 280px;
    margin-top: 20px;
    margin-bottom: 30px; }
  .feedback-slider button {
    padding: 15px; }
  .slick-prev {
    margin-right: 0;
    margin-top: 27%; }
  .slick-next {
    left: 0;
    right: auto;
    margin-right: 0;
    margin-top: 27%; }
  .answers {
    text-align: center; }
    .answers h3 {
      font-size: 25px;
      line-height: 30px; }
  .holder-accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .accordion-answers {
    width: 100%;
    padding: 0; }
  .about-the-clinic {
    text-align: center;
    margin-bottom: 17px; }
    .about-the-clinic h3 {
      font-size: 40px;
      line-height: 45px; }
  .display-flex-m {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .background-photo {
    margin-bottom: 5px; }
  .progress {
    text-align: center;
    margin-bottom: 55px; }
    .progress h3 {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 10px; }
    .progress .wrapper .text-btn p {
      margin-bottom: 5px; }
  .contacts {
    text-align: center; }
    .contacts .contacts-list .address {
      margin-bottom: 16px; }
    .contacts .contacts-list .social-network .icons {
      justify-content: center; }
      .contacts .contacts-list .social-network .icons li {
        margin: 0 10px; }
        .contacts .contacts-list .social-network .icons li i {
          font-size: 24px; }
  .holder-photo-consultation {
    display: flex;
    justify-content: center;
    align-items: center; }
    .holder-photo-consultation img {
      display: none; }
  .list-numbers {
    margin-right: 0; }
    .list-numbers p {
      font-size: 12px;
      line-height: 15px; }
    .list-numbers .list .holder .numbers {
      line-height: 75px; }
  .answers .response-cell {
    padding: 5px 10px 20px 6px; }
  .answer-holder {
    padding: 0; }
  .max-width-50 {
    width: 100%; }
  .contact-form {
    width: 100%; }
  .form-group {
    margin-bottom: 10px; }
    .form-group input {
      padding: 10px; }
      .form-group input::placeholder {
        font-size: 15px; }
  .form-group-checkbox {
    display: block; }
    .form-group-checkbox .form-group-2 label {
      font-size: 14px; }
  .close-btn {
    top: 12px;
    right: 10px; }
  .padding-0-20 {
    padding: 12px 20px 10px; }
  .holder-area-footer {
    position: relative; }
    .holder-area-footer .map {
      position: inherit;
      right: 0;
      bottom: 0;
      max-width: 390px; }
  .footer {
    padding: 10px 0 0; }
  .header-content-footer {
    display: block;
    text-align: center; }
  .navigation-footer {
    display: block;
    margin-bottom: 20px; }
    .navigation-footer li {
      margin: 0; }
      .navigation-footer li a {
        font-size: 14px; }
  .contacts .contacts-list {
    font-size: 14px; }
  .social-network {
    margin-bottom: 20px; }
  .modal-content {
    padding: 35px 15px 0 15px !important;
    height: 410px !important; }
    .modal-content .request {
      padding: 0 !important; }
      .modal-content .request .padding-0-20 {
        padding: 12px 3px; }
      .modal-content .request .text-request h3 {
        font-size: 20px !important;
        line-height: 25px !important; }
      .modal-content .request .text-request p {
        font-size: 17px; }
    .modal-content .form-group-checkbox .form-group-2 label {
      font-size: 16px; }
  .rights {
    text-align: center;
    margin-bottom: 30px; }
    .rights p {
      max-width: inherit; } }
