.banner {
  background: #F9FBF9 url("../images/iphone-x.png");
  background-position: bottom right;
  background-size: 1600px 1000px;
  background-repeat: no-repeat;
  min-height: 1010px;
}

.holder-banner-text {
  text-align: left;
  padding: 332px 0 0 27px;
  margin-bottom: 175px;
  max-width: 685px;

  h2 {
    font-size: 50px;
    line-height: 60px;
    color: #162137;
    margin-bottom: 39px;
  }

  p {
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #162137;
    margin-bottom: 62px;
    padding: 0 100px 0 0;
  }
}