.menu-btn {
  display: none;
  width: 35px;
  height: 35px;
  z-index: 5;
  position: relative;

  &:before {
    content: "";
    height: 3px;
    background-color: #222;
    width: 35px;
    position: absolute;
    top: 7px;
    left: -6px;
  }
}

.menu-btn-active::before {
  display: none;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 0;
  margin-top: 13px;
  margin-left: 0;
  left: 0;
  width: 35px;
  height: 3px;
  background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  transition: 0.2s;
}

.menu-btn span::before {
  transform: translateY(-5px);
  left: -6px;
  top: -1px;
}

.menu-btn span::after {
  transform: translateY(5px);
  top: -3px;
}

.menu-btn-active span {
  height: 0;
}

.menu-btn-active span::before {
  transform: rotate(45deg);
  background-color: #fff;
}

.menu-btn-active span::after {
  transform: rotate(-45deg);
  background-color: #fff;
}

.menu-btn-active span::before {
  left: -1px;
  top: -3px;
}

.show-menu {
  right: 0;
}

.header {
  margin-bottom: 50px;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 63px;
}

.navigation {
  display: flex;

  a {
    font-size: 14px;
    line-height: 22px;
    margin-right: 28px;
  }
  
  .active {

    a {
      color: #003DBB;
    }
  }

  .tel {

    a {
      display: block;
      text-align: center;
    }
  }
}

.ui-selectmenu-text {

  &:hover {
    color: #27dfe5;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 172px;
}

.speaker-1 {
  position: relative;
}

.holder-number {
  display: flex;
  margin-bottom: 65px;

  .number {
    display: block;
    font-size: 140px;
    line-height: 65px;
    color: #0F40B7;
    letter-spacing: 13px;
  }

  .bill {
    display: block;
    font-size: 57px;
    line-height: 65px;
    color: #0F40B7;
    transform: rotate(-90deg);
    margin-left: -30px;
  }
}

.speaker-text {
  max-width: 585px;
  margin-bottom: 22px;

  h3 {
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }
}

.speaker-2 {
  position: relative;

  .block-50 {
    background: #0F40B7;
    max-width: 524px;
    margin-bottom: 65px;

    p {
      font-size: 17px;
      line-height: 22px;
      color: #fff;
    }
  }
}

.sentence {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.sentence-text {
  max-width: 570px;

  h5 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 50px;

    &:first-line {
      font-weight: 700;
    }
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }
}

.holder-img {
  position: relative;
}

.terms {
  margin-bottom: 40px;

  h3 {
    font-size: 35px;
    line-height: 65px;
    letter-spacing: 2px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }
}

.holder-area {
  display: flex;
  justify-content: space-between;
}

.request {
  display: flex;
  justify-content: space-around;
  border: solid 1px #c5c5c5;
  padding: 25px 0 0 30px;
  margin-bottom: 174px;

  .text-request {
    max-width: 650px;
    padding-top: 20px;

    h3 {
      font-size: 35px;
      line-height: 40px;
      letter-spacing: 3px;
      margin-bottom: 14px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.contact-form {
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;

  input {
    font-size: 13px;
    line-height: 13px;
    border: 1px solid #C5C5C5;
    width: 100%;
    height: 40px;
    padding: 23px 200px 15px 12px;
  }
}

.form-group-checkbox {
  display: flex;
  align-items: baseline;

  .form-group-2 {
    padding-left: 15px;

    input {
      height: 10px;
      padding: 0;
    }
    
    label {
      color: #787878;
    }
  }
}

.program-stages {
  margin-bottom: 65px;

  h3 {
    font-size: 60px;
    line-height: 75px;
    color: #303030;
    letter-spacing: 9px;
    margin-bottom: 40px;
  }

  .text-btn {
    display: flex;
    justify-content: space-between;
    max-width: 885px;
    margin-bottom: 43px;

    p {
      font-size: 18px;
      line-height: 25px;
      color: #303030;
      max-width: 545px;
    }
  }
}

.text-decor {
  display: flex;

  .holder-text {
    margin-right: 60px;

    p {
      max-width: 526px;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .holder-area {
    display: flex;
    flex-direction: column;
  }
}

.service {

  p {
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
}

.payment-guarantees {

  h3 {
    font-size: 60px;
    line-height: 65px;
    color: #303030;
    margin-bottom: 42px;
  }
}

.holder-offers {
  display: flex;

  .img-area {
    position: relative;

    .mask-holder {
      background: url("../images/mask.png");
      background-position: bottom right;
      background-size: 695px 415px;
      background-repeat: no-repeat;
      min-height: 400px;
      margin-top: -30px;
      width: 670px;
      padding: 80px 0 0 60px;

      h4 {
        font-size: 35px;
        line-height: 40px;
        color: #303030;
        letter-spacing: 3px;
        margin-bottom: 12px;
      }

      h3 {
        font-size: 60px;
        line-height: 40px;
        color: #303030;
        letter-spacing: 4px;
        margin-bottom: 50px;
      }

      p {
        font-size: 18px;
        line-height: 25px;
        color: #303030;
        margin-bottom: 11px;
      }

      .holder-btn {
        display: flex;
        justify-content: end;
      }
    }

    .decoration {
      position: relative;
      z-index: -2;
    }
  }
}
