.mobile-menu-navigation {
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  right: -20%;
  padding: 106px 84px 68px 80px;
  background-color: #162137;
  max-width: 865px;
  transition: all .25s ease;
  overflow: auto;
}

.show-menu {
  right: 0;
}

$mobile: 1023px;

@mixin breakpoint($rule){
  @media only screen and (max-width: #{$rule}){
    @content;
  }
}

.btn-menu {
  position: absolute;
  top: 13px;
  right: 27px;
  height: 27px;
  width: 29px;
  cursor: pointer;
  transition: all .25s ease;
  display: none;
  z-index: 103;

  @include breakpoint($mobile) {
    display: block;
  }

  span {
    background: #213041;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    top: 8px;
  }

  .bottom {
    top: 16px;
  }

  &.active {
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      background: #fff;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      background: #fff;
    }
  }
}

.header {
  margin-bottom: 46px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;

  li {
    margin-left: 21px;

    a {
      font-size: 14px;
      line-height: 22px;
    }
  }
  
  .active {

    a {
      color: #003DBB;
    }
  }

  .tel {
    text-align: center;

    a {
      display: block;
    }
  }
}

.ui-selectmenu-text {
  border: none;

  &:hover {
    color: #27dfe5;
  }
}