
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
  background: #fff;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
i {
  cursor: pointer ;

  &:hover {
    color: #27dfe5;
  }
}

a {
  color: #151515;
  text-decoration: none;

  &:hover {
    color: #27dfe5;
  }

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}

#wrapper {
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px;
  }
}

.unique-list {
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    width: 50%;
    font-size: 23px;
    line-height: 35px;
    color: #fff;
    text-align: left;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 80px;
  }
}

.border-radius-bl {
  border-bottom-left-radius: 60px;
  position: relative;
  z-index: 1;
}

.padding-left-49 {
  padding-left: 49px;
}

.padding-left-91 {
  padding-left: 91px;
}

.padding-top-75 {
  padding-top: 75px;
}

.decor {
  position: absolute;
  width: 170px;
  height: 205px;
  background: #36CDC6;
  top: -20px;
  left: 9px;
  z-index: -1;
}

.decor-lg {
  width: 395px;
  height: 555px;
}

.decor-xl {
  width: 415px;
  height: 205px;
}

.position {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -55px;
  right: -40px;
}

.position-2 {
  position: absolute;
  top: 35px;
  left: -30px;
  bottom: auto;
  right: auto;
}

.decor-2 {
  position: absolute;
  width: 230px;
  height: 325px;
  background: #BBBCBE;
  top: 30%;
  left: 40px;
}

.btn {
  padding: 10px;
  background: transparent;
  border: none;
  position: relative;

  a {
    color: #003DBB;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;

    &:hover {
      color: #27dfe5;
    }
  }

  span {
    position: absolute;
    background: #003DBB;
    width: 100px;
    height: 2px;
    bottom: 7px;
    right: 1px;
  }
}











