@import "reset";
@import "container";
@import "buttons";
@import "scroll";
@import "footer";
@import "blog";
@import "blog-in";
@import "fonts";
@import "banner";
@import "header";
@import "comman";
@import "modal-window";

@media (max-width: 1599px) {

  .header {
    padding: 62px 40px 0;
  }

  .banner {
    background-size: 1200px 800px;
  }

  .holder-banner-text {
    max-width: 585px;
    margin-bottom: 115px;
  }

  .video-clip {
    padding: 200px 0 185px;
  }

  .holder-video-clip {
    padding-bottom: 215px;
  }

  .description-franchise {

    .text-franchise {
      padding: 30px 0 0 25px;

      h3 {
        font-size: 45px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .wrapper-service {

    .list-area {
      padding-top: 40px;
    }
  }

  .authorization-steps {
    padding: 0 0 125px 55px;

    h3 {
      margin-bottom: 35px;
    }
  }

  .holder-insurance-overview {

    .second-step {
      max-width: 665px;
    }
  }

  .authorization-steps {

    .arrow-2 {
      bottom: 40%;
      left: 20%;
    }
  }

  .unique-list {

    .padding {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1199px) {

  .btn-sm {
    padding: 15px 60px;
  }

  .container {
    padding: 0 35px;
  }

  .navigation {

    li {
      margin-bottom: 10px;

      a {
        font-size: 40px;
        line-height: 60px;
      }
    }
  }

  .mobile-menu-navigation {
    padding: 110px 24px 60px 40px;
    max-width: 665px;
  }

  .holder-bottom-menu {

    .holder-contact-menu {

      li {

        a {
          font-size: 10px;
          line-height: 30px;
        }
      }
    }

    .holder-social-network {

      a {
        font-size: 20px;
      }
    }
  }

    .banner {
    background-size: 1000px 600px;
    min-height: 710px;
  }

  .holder-banner-text {
    padding: 230px 0 0 0;

    h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    P {
      font-size: 15px;
    }
  }

  .video-clip {
    padding: 200px 0 285px;

    .video-btn {
      margin: -20px;
    }
  }

  .description-franchise {

    .text-franchise {

      h3 {
        font-size: 35px;
        line-height: 56px;
        margin-bottom: 10px;
      }

      p {
        line-height: 30px;
      }
    }

    .list-franchise {

      li {
        padding-left: 0;
        margin-bottom: 20px;

        p {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }

  .wrapper-service {
    padding-top: 200px;
    margin-bottom: 215px;

    .list-area {

      h3 {
        margin-bottom: 25px;
      }
    }
  }

  .unique-list {

    li {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 30px;

      &:after {
        width: 10px;
        height: 10px;
      }
    }
  }

  .authorization-steps {
    padding: 0 0 125px 10px;

    .arrow-2 {
      left: 15%;
    }

    h3 {
      font-size: 50px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 45px;
      margin-bottom: 15px;
      line-height: 50px;
    }
  }

  .holder-insurance-overview {

    .second-step {
      max-width: 565px;

      h3 {
        margin-bottom: 10px;
      }

      h4 {
        margin-bottom: 15px;
      }
    }
  }

  .employees {
    padding: 250px 0 57px 0;

    .holder-text {

      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .photo-employees {

    li {

      img {
        margin-bottom: 0;
      }

      h3 {
        margin-bottom: 5px;
      }

      p {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  .holder-our-advantages {
    min-height: 1000px;
  }

  .holder-our-advantages-all {
    padding: 200px 0 190px;

    h3 {
      margin-bottom: 30px;
    }
  }

  .unique-list {

    .padding {
      padding-left: 80px;
      padding-right: 30px;

      &:after {
        width: 10px;
        height: 10px;
      }
    }
  }

  .text-advantages {

    h3 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .footer {
    padding: 40px 0;

    .footer-text {

      h3 {
        font-size: 55px;
        line-height: 70px;
        margin-bottom: 5px;
      }

      p {
        font-size: 22px;
        line-height: 25px;
      }
    }
  }
}

@media (max-width: 1023px) {

  .header {
    padding: 30px 40px 0;
  }

  .banner {
    min-height: 610px;
    background-size: 800px 500px;
  }

  .holder-video-clip {
    padding-bottom: 255px;
  }

    .holder-banner-text {
    max-width: 395px;
    padding: 230px 0 0 0;

    h2 {
      font-size: 30px;
      line-height: 45px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }

  .description-video {

    .description-1 {

      p {
        font-size: 30px;
        line-height: 40px;
      }
    }

    .description-2 {
      padding: 25px 0 0 15px;

      p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 20px;
      }
    }
  }

  .description-franchise {

    .text-franchise {

      h3 {
        font-size: 25px;
        line-height: 45px;
      }

      p {
        font-size: 15px;
      }
    }

    .list-franchise {

      li {

        .numeral {
          margin-bottom: 20px;
        }
      }
    }
  }

  .wrapper-service {
    padding-top: 300px;
  }

  .authorization-steps {

    .arrow-1 {
      width: 30%;
    }

    .arrow-2 {
      width: 30%;
      left: 9%;
    }

    h3 {
      font-size: 40px;
    }

    h4 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .first-step-authorization {
    margin-bottom: 50px;
  }

  .holder-insurance-overview {
    margin-bottom: 50px;
  }

  .holder-insurance-overview {

    .second-step {
      max-width: 415px;

      p {
        padding: 0 130px 0 0;
      }
    }
  }

  .third-step-authorization {
    margin-left: 20px;
  }

  .employees {
    padding: 190px 0 57px 0;

    .holder-text {

      h3 {
        font-size: 30px;
      }
    }
  }

  .photo-employees {

    li {

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 13px;
      }
    }
  }

  .holder-our-advantages-all {

    h3 {
      font-size: 40px;
    }
  }

  .unique-list {

    .padding {
      padding-left: 50px;
      padding-right: 20px;

      .text-advantages {

        h3 {
          font-size: 20px;
        }
      }
    }
  }

  .footer  {

    .footer-text {

      h3 {
        font-size: 45px;
        line-height: 50px;
      }

      p {
        padding: 0 100px 0 0;
      }
    }
  }
}

@media (max-width: 767px) {

  .mobile-menu-navigation {
    right: -160%;
  }

  .menu-btn:before {
    width: 20px;
    height: 2px;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    width: 20px;
    height: 2px;
    margin-top: 12px;
  }

  .menu-btn span::after {
    top: -5px;
  }

  .menu-btn {
    width: 18px;
    height: 32px;
  }

  .container {
    padding: 0 20px;
  }

  .header {
    padding: 20px 20px 0;
  }

  .logo {

    img {
      width: 40px;
    }
  }

  .banner {
    background-position: bottom;
    min-height: 565px;
  }

  .holder-banner-text {
    padding: 174px 0 60px 0;

    h2 {
      font-size: 21px;
      line-height: 29px;
      margin-bottom: 21px;
    }
  }

  .btn-mb {
    font-size: 11px;
    padding: 9px 23px;
  }

  .scroll {
    display: none;
  }

  .video-clip {
    padding: 165px 0 67px;

    img {
      height: 290px;
      width: 280px;
    }
  }

  .description-video {
    display: flex;
    flex-direction: column;

    .description-1 {

      p {
        font-size: 23px;
        line-height: 29px;
      }

      .btn {
        display: none;
      }
    }
  }



  }
